* {
  margin: 0;
  padding: 0;
}
header {
  height: 54px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #666;
}
header .youxi {
  background-color: #cf1132;
  width: 200px;
  height: 54px;
  color: #fff;
  text-align: center;
  line-height: 54px;
}
header .youxi p {
  color: #fff;
}
header .logo {
  flex: 1;
}
header .logo img {
  height: 54px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
header .fuli {
  text-align: center;
  line-height: 54px;
  height: 100%;
  width: 170px;
  font-size: 12px;
  color: #666;
  border-left: 1px solid #666;
}
.mbody {
  width: 100%;
  position: relative;
}
.mbody .bg {
  width: 100%;
  height: 1080px;
  position: relative;
  z-index: -10;
  background: url(../img/bg_72d69d1.jpg) no-repeat top center;
}
.mbody .title {
  width: 100%;
  position: absolute;
  top: 0px;
}
.mbody .title .mlogo {
  position: absolute;
  z-index: 100;
  top: 5px;
}
.mbody .title .mlogo img {
  width: 200px;
}
.mbody .title .fanhui {
  position: absolute;
  right: 54px;
  top: 40px;
  z-index: 100;
}
.mbody .title .fanhui img {
  width: 185px;
  height: 43px;
}
.mbody .xiaobeijing {
  position: absolute;
  z-index: -9;
  top: 0px;
  left: 0px;
}
.mbody .xuanka {
  position: absolute;
  top: 260px;
  left: 30px;
}
.mbody .xuanka .boss1 {
  position: absolute;
  width: 84px;
  height: 175px;
}
.mbody .xuanka .boss1 img {
  position: absolute;
  top: 10px;
  left: 5px;
  display: none;
}
.mbody .xuanka .boss2 {
  position: absolute;
  top: 180px;
  width: 84px;
  height: 175px;
}
.mbody .xuanka .boss2 img {
  position: absolute;
  top: 10px;
  left: 5px;
  display: none;
}
.mbody .xuanka .lianggui {
  background: url(../img/jgz_h_0e2e7f5.png) no-repeat;
}
.mbody .xuanka .liangren {
  background: url(../img/qsz_h_298e4cf.png);
}
.mbody .xuanka .angui {
  background: url(../img/jgz_b0559b4.png);
}
.mbody .xuanka .anren {
  background: url(../img/qsz_56bfdb2.png);
}
.mbody .b1 {
  z-index: 3;
  position: absolute;
  top: 153px;
  left: 140px;
  display: none;
  height: 610px;
  width: 1240px;
}
.mbody .b1 .boxleft {
  width: 90px;
  height: 610px;
  float: left;
}
.mbody .b1 .boxleft .img1,
.mbody .b1 .boxleft .img2,
.mbody .b1 .boxleft .img3,
.mbody .b1 .boxleft .img4,
.mbody .b1 .boxleft .img5,
.mbody .b1 .boxleft .img6,
.mbody .b1 .boxleft .img7 {
  width: 100%;
  height: 87.1px;
}
.mbody .b1 .boxleft .hui1 {
  background: url(../img/g1-1.png) no-repeat center center;
}
.mbody .b1 .boxleft .hui2 {
  background: url(../img/g2-1.png) no-repeat center center;
}
.mbody .b1 .boxleft .hui3 {
  background: url(../img/g3-1.png) no-repeat center center;
}
.mbody .b1 .boxleft .hui4 {
  background: url(../img/g4-1.png) no-repeat center center;
}
.mbody .b1 .boxleft .hui5 {
  background: url(../img/g5-1.png) no-repeat center center;
}
.mbody .b1 .boxleft .hui6 {
  background: url(../img/g6-1.png) no-repeat center center;
}
.mbody .b1 .boxleft .hui7 {
  background: url(../img/g7-1.png) no-repeat center center;
}
.mbody .b1 .boxleft .liang1 {
  background: url(../img/g1-2.png) no-repeat center center;
}
.mbody .b1 .boxleft .liang2 {
  background: url(../img/g2-2.png) no-repeat center center;
}
.mbody .b1 .boxleft .liang3 {
  background: url(../img/g3-2.png) no-repeat center center;
}
.mbody .b1 .boxleft .liang4 {
  background: url(../img/g4-2.png) no-repeat center center;
}
.mbody .b1 .boxleft .liang5 {
  background: url(../img/g5-2.png) no-repeat center center;
}
.mbody .b1 .boxleft .liang6 {
  background: url(../img/g6-2.png) no-repeat center center;
}
.mbody .b1 .boxleft .liang7 {
  background: url(../img/g7-2.png) no-repeat center center;
}
.mbody .b1 .main {
  margin-left: 15px;
  width: 500px;
  height: 610px;
  float: left;
  position: relative;
}
.mbody .b1 .main .namebg {
  position: absolute;
  top: 9px;
  left: 5px;
}
.mbody .b1 .main .a1,
.mbody .b1 .main .a2,
.mbody .b1 .main .a3,
.mbody .b1 .main .a4,
.mbody .b1 .main .a5,
.mbody .b1 .main .a6,
.mbody .b1 .main .a7 {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.mbody .b1 .main .a1 .miaoshu,
.mbody .b1 .main .a2 .miaoshu,
.mbody .b1 .main .a3 .miaoshu,
.mbody .b1 .main .a4 .miaoshu,
.mbody .b1 .main .a5 .miaoshu,
.mbody .b1 .main .a6 .miaoshu,
.mbody .b1 .main .a7 .miaoshu {
  position: absolute;
  top: 282px;
  left: 0px;
  z-index: 13;
  width: 500px;
  height: 250px;
}
.mbody .b1 .main .a1 .miaoshu .m1,
.mbody .b1 .main .a2 .miaoshu .m1,
.mbody .b1 .main .a3 .miaoshu .m1,
.mbody .b1 .main .a4 .miaoshu .m1,
.mbody .b1 .main .a5 .miaoshu .m1,
.mbody .b1 .main .a6 .miaoshu .m1,
.mbody .b1 .main .a7 .miaoshu .m1,
.mbody .b1 .main .a1 .miaoshu .m3,
.mbody .b1 .main .a2 .miaoshu .m3,
.mbody .b1 .main .a3 .miaoshu .m3,
.mbody .b1 .main .a4 .miaoshu .m3,
.mbody .b1 .main .a5 .miaoshu .m3,
.mbody .b1 .main .a6 .miaoshu .m3,
.mbody .b1 .main .a7 .miaoshu .m3,
.mbody .b1 .main .a1 .miaoshu .m2,
.mbody .b1 .main .a2 .miaoshu .m2,
.mbody .b1 .main .a3 .miaoshu .m2,
.mbody .b1 .main .a4 .miaoshu .m2,
.mbody .b1 .main .a5 .miaoshu .m2,
.mbody .b1 .main .a6 .miaoshu .m2,
.mbody .b1 .main .a7 .miaoshu .m2 {
  display: none;
  width: 100%;
  height: 100%;
  background: url(../img/jn_pop1_5fe4199.png) no-repeat;
  background-size: 100%;
}
.mbody .b1 .main .a1 .miaoshu .m1 h5,
.mbody .b1 .main .a2 .miaoshu .m1 h5,
.mbody .b1 .main .a3 .miaoshu .m1 h5,
.mbody .b1 .main .a4 .miaoshu .m1 h5,
.mbody .b1 .main .a5 .miaoshu .m1 h5,
.mbody .b1 .main .a6 .miaoshu .m1 h5,
.mbody .b1 .main .a7 .miaoshu .m1 h5,
.mbody .b1 .main .a1 .miaoshu .m3 h5,
.mbody .b1 .main .a2 .miaoshu .m3 h5,
.mbody .b1 .main .a3 .miaoshu .m3 h5,
.mbody .b1 .main .a4 .miaoshu .m3 h5,
.mbody .b1 .main .a5 .miaoshu .m3 h5,
.mbody .b1 .main .a6 .miaoshu .m3 h5,
.mbody .b1 .main .a7 .miaoshu .m3 h5,
.mbody .b1 .main .a1 .miaoshu .m2 h5,
.mbody .b1 .main .a2 .miaoshu .m2 h5,
.mbody .b1 .main .a3 .miaoshu .m2 h5,
.mbody .b1 .main .a4 .miaoshu .m2 h5,
.mbody .b1 .main .a5 .miaoshu .m2 h5,
.mbody .b1 .main .a6 .miaoshu .m2 h5,
.mbody .b1 .main .a7 .miaoshu .m2 h5 {
  position: absolute;
  top: 46px;
  left: 55px;
  font-size: 19px;
  color: #000;
}
.mbody .b1 .main .a1 .miaoshu .m1 p,
.mbody .b1 .main .a2 .miaoshu .m1 p,
.mbody .b1 .main .a3 .miaoshu .m1 p,
.mbody .b1 .main .a4 .miaoshu .m1 p,
.mbody .b1 .main .a5 .miaoshu .m1 p,
.mbody .b1 .main .a6 .miaoshu .m1 p,
.mbody .b1 .main .a7 .miaoshu .m1 p,
.mbody .b1 .main .a1 .miaoshu .m3 p,
.mbody .b1 .main .a2 .miaoshu .m3 p,
.mbody .b1 .main .a3 .miaoshu .m3 p,
.mbody .b1 .main .a4 .miaoshu .m3 p,
.mbody .b1 .main .a5 .miaoshu .m3 p,
.mbody .b1 .main .a6 .miaoshu .m3 p,
.mbody .b1 .main .a7 .miaoshu .m3 p,
.mbody .b1 .main .a1 .miaoshu .m2 p,
.mbody .b1 .main .a2 .miaoshu .m2 p,
.mbody .b1 .main .a3 .miaoshu .m2 p,
.mbody .b1 .main .a4 .miaoshu .m2 p,
.mbody .b1 .main .a5 .miaoshu .m2 p,
.mbody .b1 .main .a6 .miaoshu .m2 p,
.mbody .b1 .main .a7 .miaoshu .m2 p {
  width: 400px;
  position: absolute;
  top: 72px;
  left: 55px;
  font-size: 14px;
}
.mbody .b1 .main .a1 .miaoshu .m2,
.mbody .b1 .main .a2 .miaoshu .m2,
.mbody .b1 .main .a3 .miaoshu .m2,
.mbody .b1 .main .a4 .miaoshu .m2,
.mbody .b1 .main .a5 .miaoshu .m2,
.mbody .b1 .main .a6 .miaoshu .m2,
.mbody .b1 .main .a7 .miaoshu .m2 {
  background: url(../img/jn_pop2_616478f.png) no-repeat;
}
.mbody .b1 .main .a1 .miaoshu .m3,
.mbody .b1 .main .a2 .miaoshu .m3,
.mbody .b1 .main .a3 .miaoshu .m3,
.mbody .b1 .main .a4 .miaoshu .m3,
.mbody .b1 .main .a5 .miaoshu .m3,
.mbody .b1 .main .a6 .miaoshu .m3,
.mbody .b1 .main .a7 .miaoshu .m3 {
  background: url(../img/jn_pop3_10c0928.png) no-repeat;
}
.mbody .b1 .main .a1 .miaoshu .m4,
.mbody .b1 .main .a2 .miaoshu .m4,
.mbody .b1 .main .a3 .miaoshu .m4,
.mbody .b1 .main .a4 .miaoshu .m4,
.mbody .b1 .main .a5 .miaoshu .m4,
.mbody .b1 .main .a6 .miaoshu .m4,
.mbody .b1 .main .a7 .miaoshu .m4 {
  background: url(../img/jn_pop4_6619a17.png) no-repeat;
}
.mbody .b1 .main .a1 .mName,
.mbody .b1 .main .a2 .mName,
.mbody .b1 .main .a3 .mName,
.mbody .b1 .main .a4 .mName,
.mbody .b1 .main .a5 .mName,
.mbody .b1 .main .a6 .mName,
.mbody .b1 .main .a7 .mName {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}
.mbody .b1 .main .a1 .jieshao,
.mbody .b1 .main .a2 .jieshao,
.mbody .b1 .main .a3 .jieshao,
.mbody .b1 .main .a4 .jieshao,
.mbody .b1 .main .a5 .jieshao,
.mbody .b1 .main .a6 .jieshao,
.mbody .b1 .main .a7 .jieshao {
  width: 480px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 5px;
}
.mbody .b1 .main .a1 .jieshao p,
.mbody .b1 .main .a2 .jieshao p,
.mbody .b1 .main .a3 .jieshao p,
.mbody .b1 .main .a4 .jieshao p,
.mbody .b1 .main .a5 .jieshao p,
.mbody .b1 .main .a6 .jieshao p,
.mbody .b1 .main .a7 .jieshao p {
  color: #24211f;
  font-size: 16px;
  line-height: 35px;
  font-family: '黑体';
}
.mbody .b1 .main .a1 .jineng,
.mbody .b1 .main .a2 .jineng,
.mbody .b1 .main .a3 .jineng,
.mbody .b1 .main .a4 .jineng,
.mbody .b1 .main .a5 .jineng,
.mbody .b1 .main .a6 .jineng,
.mbody .b1 .main .a7 .jineng {
  position: absolute;
  top: 450px;
  left: 5px;
}
.mbody .b1 .main .a1 .jinengimg,
.mbody .b1 .main .a2 .jinengimg,
.mbody .b1 .main .a3 .jinengimg,
.mbody .b1 .main .a4 .jinengimg,
.mbody .b1 .main .a5 .jinengimg,
.mbody .b1 .main .a6 .jinengimg,
.mbody .b1 .main .a7 .jinengimg {
  position: absolute;
  top: 500px;
  left: 5px;
}
.mbody .b1 .main .a1 .jinengimg ul,
.mbody .b1 .main .a2 .jinengimg ul,
.mbody .b1 .main .a3 .jinengimg ul,
.mbody .b1 .main .a4 .jinengimg ul,
.mbody .b1 .main .a5 .jinengimg ul,
.mbody .b1 .main .a6 .jinengimg ul,
.mbody .b1 .main .a7 .jinengimg ul {
  width: 100%;
  height: 50px;
}
.mbody .b1 .main .a1 .jinengimg ul li,
.mbody .b1 .main .a2 .jinengimg ul li,
.mbody .b1 .main .a3 .jinengimg ul li,
.mbody .b1 .main .a4 .jinengimg ul li,
.mbody .b1 .main .a5 .jinengimg ul li,
.mbody .b1 .main .a6 .jinengimg ul li,
.mbody .b1 .main .a7 .jinengimg ul li {
  width: 110px;
  float: left;
  padding: 5px;
}
.mbody .b1 .main .a1 .jinengimg ul li img,
.mbody .b1 .main .a2 .jinengimg ul li img,
.mbody .b1 .main .a3 .jinengimg ul li img,
.mbody .b1 .main .a4 .jinengimg ul li img,
.mbody .b1 .main .a5 .jinengimg ul li img,
.mbody .b1 .main .a6 .jinengimg ul li img,
.mbody .b1 .main .a7 .jinengimg ul li img {
  margin-left: 23px;
}
.mbody .b1 .main .a1 .jinengimg ul li p,
.mbody .b1 .main .a2 .jinengimg ul li p,
.mbody .b1 .main .a3 .jinengimg ul li p,
.mbody .b1 .main .a4 .jinengimg ul li p,
.mbody .b1 .main .a5 .jinengimg ul li p,
.mbody .b1 .main .a6 .jinengimg ul li p,
.mbody .b1 .main .a7 .jinengimg ul li p {
  width: 100%;
  text-align: center;
}
.mbody .b1 .boxright {
  position: absolute;
  top: -41px;
  left: 610px;
  width: 686px;
  height: 643px;
}
.mbody .b1 .boxright .zhanshi1,
.mbody .b1 .boxright .zhanshi2,
.mbody .b1 .boxright .zhanshi3,
.mbody .b1 .boxright .zhanshi4,
.mbody .b1 .boxright .zhanshi6 {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0px;
}
.mbody .b1 .boxright .zhanshi5 {
  display: none;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%);
}
.mbody .b1 .boxright .zhanshi7 {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
}
.mbody .b2 {
  display: none;
  z-index: 3;
  position: absolute;
  top: 153px;
  left: 140px;
  height: 610px;
  width: 1240px;
}
.mbody .b2 .boxleft {
  width: 90px;
  height: 610px;
  float: left;
}
.mbody .b2 .boxleft .img1,
.mbody .b2 .boxleft .img2,
.mbody .b2 .boxleft .img3,
.mbody .b2 .boxleft .img4,
.mbody .b2 .boxleft .img5,
.mbody .b2 .boxleft .img6,
.mbody .b2 .boxleft .img7 {
  width: 100%;
  height: 87.1px;
}
.mbody .b2 .boxleft .hui1 {
  background: url(../img/r11.png) no-repeat center center;
}
.mbody .b2 .boxleft .hui2 {
  background: url(../img/r21.png) no-repeat center center;
}
.mbody .b2 .boxleft .hui3 {
  background: url(../img/r31.png) no-repeat center center;
}
.mbody .b2 .boxleft .hui4 {
  background: url(../img/r41.png) no-repeat center center;
}
.mbody .b2 .boxleft .hui5 {
  background: url(../img/r51.png) no-repeat center center;
}
.mbody .b2 .boxleft .hui6 {
  background: url(../img/r61.png) no-repeat center center;
}
.mbody .b2 .boxleft .hui7 {
  background: url(../img/r71.png) no-repeat center center;
}
.mbody .b2 .boxleft .liang1 {
  background: url(../img/r12.png) no-repeat center center;
}
.mbody .b2 .boxleft .liang2 {
  background: url(../img/r22.png) no-repeat center center;
}
.mbody .b2 .boxleft .liang3 {
  background: url(../img/r32.png) no-repeat center center;
}
.mbody .b2 .boxleft .liang4 {
  background: url(../img/r42.png) no-repeat center center;
}
.mbody .b2 .boxleft .liang5 {
  background: url(../img/r52.png) no-repeat center center;
}
.mbody .b2 .boxleft .liang6 {
  background: url(../img/r62.png) no-repeat center center;
}
.mbody .b2 .boxleft .liang7 {
  background: url(../img/r72.png) no-repeat center center;
}
.mbody .b2 .main {
  margin-left: 15px;
  width: 500px;
  height: 610px;
  float: left;
  position: relative;
}
.mbody .b2 .main .namebg {
  position: absolute;
  top: 9px;
  left: 5px;
}
.mbody .b2 .main .a1,
.mbody .b2 .main .a2,
.mbody .b2 .main .a3,
.mbody .b2 .main .a4,
.mbody .b2 .main .a5,
.mbody .b2 .main .a6,
.mbody .b2 .main .a7 {
  display: none;
  position: absolute;
  top: 0px;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.mbody .b2 .main .a1 .mName,
.mbody .b2 .main .a2 .mName,
.mbody .b2 .main .a3 .mName,
.mbody .b2 .main .a4 .mName,
.mbody .b2 .main .a5 .mName,
.mbody .b2 .main .a6 .mName,
.mbody .b2 .main .a7 .mName {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
}
.mbody .b2 .main .a1 .jieshao,
.mbody .b2 .main .a2 .jieshao,
.mbody .b2 .main .a3 .jieshao,
.mbody .b2 .main .a4 .jieshao,
.mbody .b2 .main .a5 .jieshao,
.mbody .b2 .main .a6 .jieshao,
.mbody .b2 .main .a7 .jieshao {
  width: 480px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 5px;
}
.mbody .b2 .main .a1 .jieshao p,
.mbody .b2 .main .a2 .jieshao p,
.mbody .b2 .main .a3 .jieshao p,
.mbody .b2 .main .a4 .jieshao p,
.mbody .b2 .main .a5 .jieshao p,
.mbody .b2 .main .a6 .jieshao p,
.mbody .b2 .main .a7 .jieshao p {
  color: #24211f;
  font-size: 16px;
  line-height: 35px;
  font-family: '黑体';
}
.mbody .b2 .main .a1 .jineng,
.mbody .b2 .main .a2 .jineng,
.mbody .b2 .main .a3 .jineng,
.mbody .b2 .main .a4 .jineng,
.mbody .b2 .main .a5 .jineng,
.mbody .b2 .main .a6 .jineng,
.mbody .b2 .main .a7 .jineng {
  position: absolute;
  top: 450px;
  left: 5px;
}
.mbody .b2 .main .a1 .jinengimg,
.mbody .b2 .main .a2 .jinengimg,
.mbody .b2 .main .a3 .jinengimg,
.mbody .b2 .main .a4 .jinengimg,
.mbody .b2 .main .a5 .jinengimg,
.mbody .b2 .main .a6 .jinengimg,
.mbody .b2 .main .a7 .jinengimg {
  position: absolute;
  top: 500px;
  left: 5px;
}
.mbody .b2 .main .a1 .jinengimg ul,
.mbody .b2 .main .a2 .jinengimg ul,
.mbody .b2 .main .a3 .jinengimg ul,
.mbody .b2 .main .a4 .jinengimg ul,
.mbody .b2 .main .a5 .jinengimg ul,
.mbody .b2 .main .a6 .jinengimg ul,
.mbody .b2 .main .a7 .jinengimg ul {
  width: 100%;
  height: 50px;
}
.mbody .b2 .main .a1 .jinengimg ul li,
.mbody .b2 .main .a2 .jinengimg ul li,
.mbody .b2 .main .a3 .jinengimg ul li,
.mbody .b2 .main .a4 .jinengimg ul li,
.mbody .b2 .main .a5 .jinengimg ul li,
.mbody .b2 .main .a6 .jinengimg ul li,
.mbody .b2 .main .a7 .jinengimg ul li {
  width: 110px;
  float: left;
  padding: 5px;
}
.mbody .b2 .main .a1 .jinengimg ul li img,
.mbody .b2 .main .a2 .jinengimg ul li img,
.mbody .b2 .main .a3 .jinengimg ul li img,
.mbody .b2 .main .a4 .jinengimg ul li img,
.mbody .b2 .main .a5 .jinengimg ul li img,
.mbody .b2 .main .a6 .jinengimg ul li img,
.mbody .b2 .main .a7 .jinengimg ul li img {
  margin-left: 23px;
}
.mbody .b2 .main .a1 .jinengimg ul li p,
.mbody .b2 .main .a2 .jinengimg ul li p,
.mbody .b2 .main .a3 .jinengimg ul li p,
.mbody .b2 .main .a4 .jinengimg ul li p,
.mbody .b2 .main .a5 .jinengimg ul li p,
.mbody .b2 .main .a6 .jinengimg ul li p,
.mbody .b2 .main .a7 .jinengimg ul li p {
  width: 100%;
  text-align: center;
}
.mbody .b2 .boxright {
  position: absolute;
  top: -41px;
  left: 610px;
  width: 686px;
  height: 643px;
}
.mbody .b2 .boxright .zhanshi1,
.mbody .b2 .boxright .zhanshi2,
.mbody .b2 .boxright .zhanshi3,
.mbody .b2 .boxright .zhanshi4,
.mbody .b2 .boxright .zhanshi6,
.mbody .b2 .boxright .zhanshi7 {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0px;
}
.mbody .b2 .boxright .zhanshi5 {
  display: none;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%);
}
.xianxian {
  display: block!important;
}
